[sshd]
enabled = true
port = ssh
mode = ${var_jail_local_sshd_mode}
filter = sshd
logpath = %(sshd_log)s
backend = %(sshd_backend)s
maxretry = ${var_jail_local_sshd_maxretry}
bantime = ${var_jail_local_sshd_bantime}
ignoreip = 127.0.0.1/8 ::1 ${var_jail_local_sshd_ignoreip}
